.nav__menu {
  position: fixed;
  bottom: 35%;
  left: 2%;
  background-color: hsla(219, 32%, 16%, 0.8);
  width: 50px;
  border-radius: 4rem;
  padding: 1rem 2rem;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.light .nav__menu {
  background-color: hsla(219, 32%, 90%, 0.8);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__link {
  color: var(--title-color);
  font-size: 1.4rem;
  padding: 0.6rem;
  display: flex;
  border-radius: 5rem;
}

.nav__link:hover {
  background-color: hsla(250, 66%, 75%, 0.2);
}

.light .nav__link:hover {
  background-color: hsla(250, 25%, 58%, 0.2);
}
.active-link {
  /* background: linear-gradient(
    180deg,
    hsla(250, 66%, 75%, 1),
    hsla(250, 66%, 75%, 0.2)
  ); */
  background: linear-gradient(
    180deg,
    hsla(207, 90%, 72%, 1),
    hsla(250, 66%, 75%, 0.2)
  );
  box-shadow: 0 0 16px hsla(250, 66%, 75%, 0.4);
}

.light .active-link {
  /* background: linear-gradient(
    180deg,
    hsla(250, 66%, 75%, 1),
    hsla(250, 20%, 24%, 0.2)
  ); */
  background: linear-gradient(
    180deg,
    hsla(207, 90%, 72%, 1),
    hsla(250, 66%, 75%, 0.2)
  );
  box-shadow: 0 0 16px hsla(250, 66%, 75%, 0.4);
  color: var(--title-color);
}

@media screen and (max-width: 992px) {
  .nav__logo {
    font-size: 1.2rem;
  }
  .nav__menu {
    bottom: 1rem;
    width: 100%;
    left: 0;
    padding: 0.7rem 2.25rem;
  }
  .nav__list {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .nav__link {
    padding: 0.4rem;
    font-size: 1.5rem;
  }
}
